@import "tailwindcss";

@theme {
    /*Colors*/
    --color-primary: #E87C8F;
    --color-light: #FFD9DD;
    --color-dark: #7D283C;
    --color-secondary: #F9D5AF;
    --color-secondary-light: #FFEEDF;
    --color-secondary-bg: rgb(255 238 223 / 0.5);
    --color-tertiary: #8C3B4A;
    --color-neutral: #FFFFFF;
    --color-black: #000000;
    --color-gray: #F5F0ED;
    --color-background: #FEF8F5;


    /*Font families*/
    --font-heading: "Lalezar", sans-serif;
    --font-body: "Changa", sans-serif;

    /* Font sizes */
    --text-xs: 0.7rem;
    --text-sm: 0.8rem;
    --text-base: 1rem;
    --text-md: 1.2rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 4rem;
    --text-4xl: 6rem;


    /*Font weights*/
    --font-weight-extrathin: 200;
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Border radius */
    --radius-sm: 25px;
    --radius-md: 50px;
    --radius-full: 9999px;

    /*Shadows*/
    --shadow-sm: 0 1px 2px rgba(0,0,0,0.1);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.1);

    /* Spacing */
    --spacing-base: 4rem;
    --spacing-section: 10rem;
    --spacing-nav: 6rem;
}

@layer components {
    .btn {
        @apply inline-flex items-center justify-center text-sm sm:text-sm font-bold px-3.5 py-1.5 rounded-md
        bg-neutral text-primary hover:text-neutral hover:bg-transparent border-4 border-transparent hover:border-neutral
        shadow-sm transition-colors cursor-pointer
    }
    .section {
        @apply w-[80%] min-h-screen flex items-center justify-between bg-background py-nav
    }
    .tagline {
        @apply w-fit text-sm bg-light text-dark py-1 px-5 rounded-md
    }
    .title {
        @apply font-bold text-xl
    }
    .description {
        @apply text-sm text-gray-500
    }
}


/* Cool Button */
.gallery-button {
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--color-primary);
    background-color: var(--color-neutral);
    filter: url(#handDrawnNoise);
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: var(--font-body);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1em;
    border-width: 0px;
    border-radius: 2rem;
    box-shadow: #33333366 4px 4px 0 1px;
    animation: idle 1s infinite ease-in-out;
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: rgb(255 192 203 / 0.5);
    stroke: rgb(255 192 203 / 0.5);
    stroke-width: 10;
    stroke-linecap: round;
    pointer-events: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 0.5s ease-in-out;
}

@keyframes idle {
    0% {
        filter: url(#handDrawnNoise);
    }
    50% {
        rotate: 2.5deg;
        filter: url(#handDrawnNoise2);
    }
    100% {
        filter: url(#handDrawnNoise);
    }
}

.gallery-button-cosm {
    fill: #33333366;
    transition: 0.3s ease-out;
    scale: 0.5;
    position: absolute;
    translate: calc(-100% + 60px) 1.5rem;
}

.gallery-button:hover {
    font-weight: bold;
    border-width: 0px;
    border-radius: 2rem;
}

.gallery-button:hover {
    font-weight: bold;
    border-width: 0px;
    border-radius: 2rem;
    rotate: -2.5deg;
    animation: hover 2.5s infinite ease-in-out;
}

.gallery-button:hover .highlight {
    stroke-dashoffset: 0;
}

.gallery-button:active .highlight {
    stroke-dashoffset: 1000;
    animation:
            highlight 5s infinite,
            col 0.5s forwards;
    stroke: #bc4e2666;
}

@keyframes col {
    0% {
        stroke: rgb(255 192 203 / 0.5);
    }
    100% {
        stroke: rgb(255 192 203 / 0.5);
    }
}

@keyframes highlight {
    0% {
        stroke-dashoffset: 0;
    }
    25% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes hover {
    0% {
        rotate: 0deg;
        filter: url(#handDrawnNoise);
        translate: 0 0px;
    }
    25% {
        rotate: -1deg;
        filter: url(#handDrawnNoise2);
        translate: 0 -2px;
    }
    50% {
        rotate: 0deg;
        filter: url(#handDrawnNoise);
        translate: 0 2px;
    }
    75% {
        rotate: -1deg;
        filter: url(#handDrawnNoise2);
        translate: 0 -2px;
    }
    100% {
        rotate: 0deg;
        filter: url(#handDrawnNoise);
        translate: 0 0px;
    }
}

.gallery-button:hover .gallery-button-cosm {
    rotate: -15deg;
    translate: calc(-100% + 22px) 1.9rem;
}

.gallery-button:active .gallery-button-cosm {
    fill: #333333f1;
    rotate: -135deg;
    translate: calc(-100% + 55px) 1.6rem;
    animation: none;
}

.gallery-button:active {
    font-weight: bold;
    border-width: 0px;
    border-radius: 2rem;
    box-shadow: inset #333333f1 4px 4px 0 1px;
    rotate: -2.5deg;
    animation: active 1s infinite ease-in-out;
}

@keyframes active {
    0% {
        filter: url(#handDrawnNoiset);
        translate: 0 -1px;
    }
    25% {
        rotate: -3deg;
    }
    50% {
        filter: url(#handDrawnNoiset2);
        translate: 0 1px;
    }
    66% {
        rotate: 1.5deg;
    }
    100% {
        filter: url(#handDrawnNoiset);
        translate: 0 -1px;
    }
}


