@import "tailwindcss";

@theme {
    /*Colors*/
    --color-primary: #E87C8F;
    --color-light: #FFD9DD;
    --color-dark: #7D283C;
    --color-secondary: #F9D5AF;
    --color-secondary-light: #FFEEDF;
    --color-secondary-bg: rgb(255 238 223 / 0.5);
    --color-tertiary: #8C3B4A;
    --color-neutral: #FFF9F6;
    --color-black: #000000;
    --color-gray: #F5F0ED;
    --color-background: #f8f2ef;


    /*Font families*/
    --font-heading: "Lalezar", sans-serif;
    --font-body: "Changa", sans-serif;

    /* Font sizes */
    --text-xs: 0.7rem;
    --text-sm: 0.8rem;
    --text-base: 1rem;
    --text-md: 1.2rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 4rem;
    --text-4xl: 6rem;


    /*Font weights*/
    --font-weight-extrathin: 200;
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Border radius */
    --radius-sm: 25px;
    --radius-md: 50px;
    --radius-full: 9999px;

    /*Shadows*/
    --shadow-sm: 0 1px 2px rgba(0,0,0,0.1);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.1);

    /* Spacing */
    --spacing-base: 4rem;
    --spacing-section: 10rem;
}

@layer components {
    .btn {
        @apply inline-flex items-center justify-center text-sm sm:text-sm font-bold px-3.5 py-1.5 rounded-md
        bg-neutral text-primary hover:text-neutral hover:bg-transparent border-4 border-transparent hover:border-neutral
        shadow-sm transition-colors cursor-pointer
    }
    .section {
        @apply w-full flex items-center justify-between bg-neutral px-[10%] py-30
    }
    .tagline {
        @apply w-fit text-sm bg-light text-dark py-1 px-5 rounded-md
    }
    .title {
        @apply font-bold text-xl
    }
}